body {
  background-image: url("images/libraryBackground.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*the form*/
.formBox {
  margin-top: 20%;
  margin-bottom: 20%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.formBox h1 {
  padding-top: 50px;
}

.formsInputs label,
button {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.formsInputs input {
  width: 300px;
  height: 18px;
  padding-bottom: 10px;
  background-color: #d3d3d3;
  /*this is to center inside of an input https://stackoverflow.com/a/945812*/
  padding: 11px 0px 11px 10px;
}

.formsInputs button {
  width: 300px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background-color: #002a60;
  cursor: pointer;
}

.formBox button:hover {
  background-color: #bf996b;
  color: black;
}

.formsInputs button,
input {
  border-radius: 10px;
  border: none;
}

.links {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

h6 {
  font-weight: normal;
  text-align: center;
}

h5 {
  text-align: center;
  color: black;
}

/*for gender and dob*/
.flex-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.flex-container input {
  width: 138px;
}

/*making the toggle inline with password*/
.input-wrapper {
  display: flex;
  align-items: center;
}

/*to make it responsive*/
@media (max-width: 480px) {
  .formBox {
    padding-left: 10px;
    padding-right: 10px;
  }

  .formsInputs input {
    width: 90%;
    padding-right: 10px;
  }
  .flex-container input {
    width: 130px;
  }

  .formsInputs button {
    width: 100%;
  }
}
